<%- include('header') %>

  <h2>
    Admin categorias:
    <a href="/admin/categorias/nova">Nova Categoria</a>
   </h2>
    <div>
      <ul>
        <% categorias.forEach( categoria => { %> 
          <li>
            <%- categoria.name %>
            <a href="/admin/categorias/delete/<%- categoria.id %>">Excluir</a>
            <a href="/admin/categorias/editar/<%- categoria.id %>">Editar</a>
          </li>
        <% }) %>
      </ul>
    </div>

<%- include('footer') %>